.main-features-container {
    margin-top: 200px;
}

.main-features__header {
    font-size: 40px;
    margin-bottom: 100px;
    text-align: center;
}

.main-features__list {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.features-item,
.pizza-making-video {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 120px;
}


.pizza-menu__header{
    display: flex;
    flex-direction: column;
    line-height: 1px;
    margin-bottom: 70px;
}

.pizza-menu__h2 {
    font-size: 40px;
    text-align: center;
}

.pizza-menu__p {
    font-size: 12px;
    text-align: center;
    color: orange;
}

.pizza-menu-list{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

#main-pizza-menu-nav {
    display: flex;
    flex-direction: row;
    margin-bottom: 70px;
    flex: auto;
}

.pizza-item-name{
    font-size: 20px;
}

#form {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    margin-bottom: 70px;
}

#submit {
    color: white;
    background-color: black;
}

#submit:hover {
    color: white;
    background-color: orange;
}